.list-created-blog-group {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.blog-group-card {
    padding: 2em 2em 2em 2rem;
    border: 1px solid #dddddd;
    border-radius: .4rem;
}
.blog-group-card h4 {
    font-size: 1.4rem;
    margin: 0; padding: 0;
}
.manage-group-link {
    display: inline-block;
    padding: .7rem;
    border: 1px solid #919191;
    color: #919191;
    text-decoration: none;
    border-radius: inherit;
}
.dashboar-user-content {
    padding: 0 3rem;
}
.dashboard-user-manage {
    width: 100%;
    border:1px solid #dddddd ;
    padding: 1rem 2rem 1.8rem 2rem;
    border-radius: .4rem;
}

.list-joined-groups {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
}
.joined-group-card {
    display: flex;
    /* align-items: center; */
    gap: 2rem;
    font-size: 1.3;
}
.joined-group-img {
    width: 100px;
}
.joined-group-img img {
    width: 100%;
    border-radius: 1rem;
}
.joined-group-author-links {
    display: flex;
    align-items: center;
    gap: 3rem;
}
.list-joined-groups-container a {
    text-decoration: none;
    color: #333;
}
.list-created-group {
    margin-top: 5rem;
}
