.list-created-blog-group {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.blog-group-card {
    padding: .7em 2em 1em 2rem;
    border: 1px solid #c5c5c5;
}
.blog-group-card h4 {
    font-size: 1.4rem;
    margin: 0; padding: 0;
}
.manage-group-link {
    display: inline-block;
    padding: .5rem;
    border: 1px solid #919191;
    color: #919191;
    text-decoration: none;
}
.dashboar-user-content {
    padding: 0 3rem;
}
.dashboard-user-manage {
    width: 100%;
    padding: 1em;
    border:1px solid #c5c5c5 ;
}