* {
    box-sizing: border-box;
}
html {
    font-size: 10px;
}
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    position: relative;
}
p { 
    line-height: 1.7;
    font-size: 1.4rem;
}
button:hover {
    cursor: pointer;
}

/***********************************/
   /* DASHBOARD STYLE */
/***********************************/

.dashboard-container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
}
.dashboard-sidebar-container, .dashboard-blog-content{
    background-color: rgb(252, 252, 252);
}
.list-created-blog-group {
    padding-bottom: 3rem;
}
.dashboard-sidebar {
    height: 100vh;
    position: fixed;
}
.dashboar-user-content {
    background-color: #fff;
    height: 100vh;
}
.dashboard-links {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-left: 3rem;
    padding-top: 10rem;
}
.dashboard-links a {
    font-size: 1.4rem;
}
.dashboard-blog-content {
    padding: 0 3rem;
} 
.dashboard-user-btn {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1000;
    gap: 2rem;
    margin-top: 1.5rem;
}
.dashboard-user-btn button {
    display: inline-block;
    padding: 1rem 1.4rem;
    border-radius: 3rem;
    border: 1px solid transparent;
    color: #fff;
}
.edit-button {
    background-color: #0ca678;
}
.reset-password-btn {
    background-color: #000;
}

.blog-group-flex {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.blog-group-flex a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.blog-group-section-text-links {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.blog-group-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid #d6d6d6;
}
.blog-group-section:last-child {
    border-bottom: none;
}
.blog-group-section-text {
    width: 80%;
}
.blog-group-section-text h3 {
    font-size: 1.8rem;
    margin-bottom: 0;
    padding-bottom: 0;
}
.blog-group-section-text p {
    font-size: 1.7rem;
    font-family: var(--serif-font);
    color: #4b4a4a;
}
.blog-group-section-img {
    width: 20%;
}
.blog-group-section-img img {
    width: 100%;
    border-radius: 10px;
}
.bagde {
    display: inline-block;
    color: grey;
}
.join-btn-container {
    margin-bottom: 1.5rem;
}
.join-btn {
    display: inline-block;
    padding: .4em 1em;
    background-color: #2f9e44;
    border: 1px solid transparent;
    color: #fff;
    transition: background-color .2s;
    border-radius: 3rem;
}
.join-btn:hover{
    cursor: pointer;
    background-color: #2b8a3e;
}
.read-article-link {
    font-size: 1.3rem;
}
.bagde-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}
.bagde-black {
    color: #2f9e44;
    border: 1px solid transparent;
}
.read-articles-link {
    display: inline-block;
    padding: .8em 2em;
    color: #2f9e44;
    border: 2px solid #2f9e44;
    border-radius: 3rem;
    font-size: 1rem;
    transition: background-color .2s;
    text-decoration: none;
}
.auth {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
}
.auth-links-login, .auth-links-signin {
    display: inline-block;
} 
.auth-links-login {
    font-size: 1.3rem;
    padding: 1em 5em;
    background-color: #000;
    text-decoration: none;
    border-radius: 5rem;
    color: #fff;
}
.auth-links-signin {
    font-size: 1.3rem;
    text-decoration: none;
    color:#2f9e44;
}
.group-search-form, .group-search-form-mobile {
    display: block;
    margin-top: 3rem;
}
.group-search-form input {
    display: inline-block;
    padding: 1em 0 1em 1em;
    width: 25%;
    border-radius: 2rem;
    border: 1px solid #eee;
}
.group-search-form-mobile input {
    display: none;
}
.related-group-list {
    width: 25%;
    border-top: 1px solid #d3d3d3;
    padding-top: 1rem;
    margin-top: 8rem;
}
.related-group-links {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.related-group-link {
    font-size: 1.2rem;
    padding: 1em 2em;
    background-color: #f0f0f0;
    text-decoration: none;
    border-radius: 5rem;
    color: #777777;
}

.icons-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.content-icon:hover {
    cursor: pointer;
}
h3.paragraph-subtitle {
    font-size: 1.2rem;
}
.like-count {
    color: #0ca678;
}
.dislike-count {
    color: #fa5252;
}
.edit-group-btn {
    background-color: #000;
}
.assign-permission-btn {
    background-color:#0ca678;
}
.delete-group-btn {
    background-color: #f03e3e;
}
.landing-post-list {
    position: relative;
}
.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}
.pagination-links {
    display: flex;
    align-items: center;
    gap: 3rem;
}
.pagination-right:hover, .pagination-left:hover {
    cursor: pointer;
}

@media(max-width: 848px){
    .manage-group-forms{
        padding-bottom: 6rem;
    }
    .manage-group-btns {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    .manage-group-btns button {
        display: inline-block;
        padding: 1.1rem 0;
        border-radius: 3rem;
        border: 1px solid transparent;
        color: #fff;
    }
    .list-joined-groups-container {
        padding-bottom: 4rem;
    }
    .related-group-list {
        margin-top: 4rem;
    }
    .group-search-form input {
        width: 100%;
    }
    .related-group-list {
        width: 100%;
    }
    .icons-container {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    .blog-group-section {
        display: grid;
        row-gap: 2rem;
        padding-bottom: 3rem;
    }
    .blog-group-section-img {
        width: 100%;
    }
    .blog-group-section-text {
        width: 100%;
    }
    
}

@media(max-width: 688px){
    .group-search-form input {
        display: none;
    }
    .group-search-form-mobile input {
        display: inline-block;
        padding: 1.4em 0 1.4em 1em;
        width: 100%;
        border-radius: 2rem;
        border: 1px solid #eee;
        margin-bottom: 2rem;
    }
}